services:
  xpi_sim:
    image: xpi-blocks
    build:
      context: .
      dockerfile: Dockerfile
    container_name: xpi_sim
    privileged: true
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /dev:/dev
    stdin_open: true
    tty: true
    command: /bin/bash
