evdev
fastapi
uvicorn
websockets
python-telegram-bot
opencv-python-headless
numpy
mediapipe
apds9960
Adafruit-Blinka
adafruit-circuitpython-as7341
adafruit-circuitpython-ccs811
RPLCD
adafruit-circuitpython-ina219
