evdev
fastapi
uvicorn
websockets
python-telegram-bot
opencv-python-headless
numpy
mediapipe
apds9960
Adafruit-Blinka
adafruit-circuitpython-as7341
adafruit-circuitpython-ccs811
adafruit-circuitpython-mcp4725
adafruit-circuitpython-htu21d
RPLCD
adafruit-circuitpython-ina219
textual
minimalmodbus
pyserial
paho-mqtt
adafruit-circuitpython-max1704x
python-can
Pillow
pynmea2
scipy<1.11
bleak
opencv-contrib-python
meshtastic
PyPubSub
adafruit-circuitpython-bme680
adafruit-circuitpython-dht
adafruit-circuitpython-tsl2591
adafruit-circuitpython-sgp30
bless
adafruit-circuitpython-pn532
adafruit-circuitpython-st7789
adafruit-circuitpython-st7735
adafruit-circuitpython-rgb-display
spidev
adafruit-circuitpython-24lc32